{% extends 'base.html' %}
{% block style %}
<style>
   
    .description-container {
        padding-bottom: 10px !important;
        border-bottom: 1px solid #D8D8D8;
    }

    .review-container {
        
        padding-bottom: 10px !important;
        border-bottom: 1px solid #D8D8D8;
    }

    .cover-img {
        margin-top: 2rem;
    }

    .user-img {
        border-radius: 50%;
        margin-top: 1rem;
    }

    .star-rating li {
        display: inline;
    }

    .tiny-small {
        font-size: 1.5rem;
    }

    .star-icon {
        position: relative;
        top: 5px;
        color: black;
    }
    
    .set-review {
        cursor: pointer;
    }
    
   

</style>
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row ">
        <div class="col m10 offset-m1 description-container">
            <div class="col m2">
                <img class="cover-img" src="{{ book['volumeInfo']['imageLinks']['thumbnail'] }}">
                <ul class="star-rating">
                    <a href="{{ url_for('books.new_review' , book_id=book.id, rating=1) }}"><i value="1" class="material-icons star-icon tiny-small set-review" >star_border</i></a>
                    <a href="{{ url_for('books.new_review' , book_id=book.id, rating=2) }}"><i value="2" class="material-icons star-icon tiny-small set-review" >star_border</i></a>
                    <a href="{{ url_for('books.new_review' , book_id=book.id, rating=3) }}"><i value="3" class="material-icons star-icon tiny-small set-review" >star_border</i></a>
                    <a href="{{ url_for('books.new_review' , book_id=book.id, rating=4) }}"><i value="4" class="material-icons star-icon tiny-small set-review" >star_border</i></a>
                    <a href="{{ url_for('books.new_review' , book_id=book.id, rating=5) }}"><i value="5" class="material-icons star-icon tiny-small set-review" >star_border</i></a>
                </ul>
                <a href="{{ url_for('books.new_review', book_id=book.id) }}" class="waves-effect waves-light btn">Leave Review</a>
            </div>
            <div class="col m10">
                <h4>{{ book['volumeInfo']['title'] }}</h4>
                <span class="author">{{ ', '.join(book['volumeInfo']['authors']) }}</span><br>
                <span class="description">{{ book['volumeInfo']['description']|safe }}</span>                                
            </div> 
           
        </div> 
    </div>

    <!-- Reviews will go below-->
    <div class="row ">
        <div class="col m10 offset-m1 review-container">
            <div class="col m2">
                <img class="user-img" src="https://via.placeholder.com/150">
            </div>
            <div class="col m10 ">
                <div class="row">
                    <div class="col m12">
                        <a href="#">User Name</a> rated it <span class="star-rated">
                            <i class="material-icons star-icon tiny-small" >star</i>
                            <i class="material-icons star-icon tiny-small" >star</i>
                            <i class="material-icons star-icon tiny-small" >star</i>
                            <i class="material-icons star-icon tiny-small" >star_half</i>
                            <i class="material-icons star-icon tiny-small" >star_border</i>
                        </span>
                        on Nov 13, 2019
                    </div>
                    <div class="col m12 review-title">
                        <h6>The Pages Turned Themselves</h6>
                    </div>
                    <div class="col m12 review-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue cursus dui ac mollis. 
                        Mauris ornare dui vitae porta accumsan. Aliquam rutrum justo id nunc aliquam, porttitor tempus odio varius. Nunc arcu sapien, 
                        rhoncus in ultrices facilisis, commodo a augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur.
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block body_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {
          format: 'mm/dd/yyyy'});
    });
  </script>

<script>
    const ratingField = document.getElementById("rating");
    const starElements = document.getElementsByClassName("set-review");
    const stars = new Array;

    const setStars = (rating) => {
      for (let i=0; i<rating; i++) {
          stars[i].innerHTML= "star";
      };
      for (let j=rating; j<5; j++ ){
          stars[j].innerHTML="star_border";
      };
    };

    const removeStars = (rating) => {
      for (let i=rating-1; i<5; i++) {
          stars[i].innerHTML= "star_border";
      };
    };

    for (let i=0; i<starElements.length; i++) {
        starElements[i].addEventListener('click', function(){
          let starValue = this.getAttribute("value");
          if (this.innerHTML == "star_border") {
              setStars(starValue);
              ratingField.value = starValue ;
          } else {
              removeStars(starValue);
              ratingField.value = starValue - 1;
          };    
        }, false);
        stars.push(starElements[i])
    }
</script>
{% endblock %}