{% extends 'base.html' %}

{% block content %}
<div class="container">
{% for book in books %}
    
        {% if 'date_rated' in book %}
        <div class="row">
            <div class="col m10 offset-m1 review-book-info">
                <div class="col m12">
                    {{book.display_name}} rated it<span class="star-rated">
                        {% for i in range(book.rating | int) %}
                            <i class="material-icons star-icon tiny-small" >star</i>
                        {% endfor %}
                        {% for j in range(book.rating | int, 5) %}
                            <i class="material-icons star-icon tiny-small" >star_border</i>
                        {% endfor %}
                    </span>
                    <!--Update to date created when fixed-->
                    on {{ book.date_rated.strftime('%b %d, %Y') }}
                </div>
                <div class="col m2">
                    {% if 'cover_url' in book %}
                    <a href="{{ url_for('books.book_details', book_id=book.bid) }}"><img class="cover-img" src={{ book.cover_url }} ></a>
                    {% else %}
                    <img class="cover-img" src="https://via.placeholder.com/150">
                    {% endif %}
                </div>
                <div class="col m10">
                    
                    
                    <div class="col m12">
                        <h5><a href="{{ url_for('books.book_details', book_id=book.bid) }}">{{ book.title }}</a></h5>by {{ ', '.join(book.authors) }}
                    </div>
                    
                    <div class="col m12 review-title">
                        <h6>{{ book.review_title }}</h6>
                    </div>
                    <div class="col m12 review-content">
                        {{ book.review_content }}
                    </div>
    
                              
                </div> 
                
            </div> 
        </div>
        {% else %}
        <div class="row">
            <div class="col m10 offset-m1 review-book-info">
                <div class="col m12">
                    {{book.display_name}} started reading on {{ book.date_started.strftime('%b %d, %Y') }}
                </div>
                <div class="col m2">
                    {% if 'cover_url' in book %}
                    <a href="{{ url_for('books.book_details', book_id=book.bid) }}"><img class="cover-img" src={{ book.cover_url }} ></a>
                    {% else %}
                    <img class="cover-img" src="https://via.placeholder.com/150">
                    {% endif %}
                </div>
                <div class="col m10">
                    <div class="row">
                        <div class="col m12">
                            <h5><a href="{{ url_for('books.book_details', book_id=book.bid) }}">{{ book.title }}</a></h5>by {{ ', '.join(book.authors) }}
                        </div>
                        
    
                    </div>              
                </div> 
                
            </div> 
        </div>
        {% endif %}

    {% endfor %}

</div>
{% endblock %}