{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <div class="container">
        <div id="divResults">
            {% for book in books %}
            <div class="row">
                <div class="col m10 offset-m1">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col m2">
                                    {% if 'imageLinks' in book.volumeInfo %}
                                    <a href="{{ url_for('books.book_details', book_id=book.id) }}"><img  src="{{ book.volumeInfo.imageLinks.thumbnail }}"></a>
                                    {% else %}
                                    <a href="{{ url_for('books.book_details', book_id=book.id) }}"><img  src="https://via.placeholder.com/150"></a>
                                    {% endif %}                                
                                </div>
                                <div class="col m10">
                                    <div class="col m12">
                                        <span class="book-title"><h5><a href="{{ url_for('books.book_details', book_id=book.id) }}">{{ book.volumeInfo.title }}</a></h5></span>by {{ ','.join(book.volumeInfo.authors) }}
                                    </div>
                                    <div class="col m12 divider"></div>
                                    <div class="col m12 description-content">
                                        {% if book.volumeInfo.description | length > 350 %}
                                            {{ book.volumeInfo.description[:350] + '...' }}
                                        {% else %}
                                            {{ book.volumeInfo.description }}
                                        {% endif %}
                                    </div>           
                                </div> 
                            </div>    
                        </div>                
                    </div>
                </div>
            </div>
            {% endfor %}            
        </div>
        <div class="row">
            <div id="divLoading" class="loading col m4 offset-m4"></div> 
            <div id="divMessage" class="message grey-text text-lighten-2 col m4 offset-m4"></div> 
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
 <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
{% endblock %}
