.card-title {
    margin-left: 0.75rem;
}
.card-title a {
    color: black;
    font-weight: 500;
}

.card-title a:hover {
    text-decoration: underline;
}

.card-title .star-icon {
    position: relative;
    top: 3px;
    color: orangered;
}

.book-title h5{
    margin-top: 0px;
    margin-bottom: 2px;
}

.book-title a {
    color: black;
    font-weight: 500;
}

.book-title a:hover{
    text-decoration: underline;
}

.divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px !important;
    border-bottom: 1px solid #D8D8D8;
}

.review-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.review-content {
    font-size: 1.25rem;
    font-weight: normal;
}

.book-info {
    padding-bottom: 10px !important;
}

.title-link{
    color:black;
}

.book-info h4{
    margin-bottom: 2px;
}

.book-info .book-author{
    margin-bottom: 4px;
}

.cover-img {
    margin-top: 2rem;
}

.user-status .star-icon {
    color: black;
}

.user-status .btn {
    margin-top: 5px;
    width: 95%;
}

.user-info h4{
    margin-top: 2.25rem;
    margin-bottom: .25rem;
}

.user-img {
    border-radius: 50%;
    margin-top: 2rem;
}


.card-title .create-icon {
    position: relative;
    top: 5px;
    color:black;
}

.section-header {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0px;    
}

.book-search{
    box-sizing: border-box;
    margin-top: 1rem;
}

#search {
    width: 90%;
}

#btnSearch {
    width: 8%;
    border-left: none;
    margin-left: -3px;
    border-radius: 0 5px 5px 0;        
}

.message{
    font-size:xxx-large;
    text-align: center;
}